# Prediction of Applications at MoreJobs4You

###### Data Source:
* job_description.csv : Contains features describing the job description itself (from the visits by users.csv) 
* users.csv : Contains features describing the users (names anonymized)


##### Import Packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [3]:
job_desc = pd.read_csv('../job_desc.csv')
job_desc.head()

                                     job_title_full   salary company user_id
0    Junior Manager Innovation Lab - France (M/F/D)  51000.0       g      U1
1                  Junior Product Manager -  Mobile  70000.0       b      U2
2   Junior Brand Marketing Manager - Mobile (M/F/D)  59000.0       g      U3
3   Product Analyst - Pricing & Forecasting (M/F/D)      NaN       d      U4
4                          Online Marketing Manager  64000.0       h      U5

In [5]:
users = pd.read_csv('../user.csv')
print(users.columns)
users.head()

Index(['user_id', 'has_applied', 'v1', 'v10', 'v11', 'v12', 'v13', 'v14',
       'v15', 'v16', 'v17', 'v18', 'v19', 'v2', 'v20', 'v21', 'v22', 'v23',
       'v24', 'v25', 'v26', 'v27', 'v28', 'v29', 'v3', 'v30', 'v31', 'v32',
       'v33', 'v34', 'v35', 'v36', 'v37', 'v38', 'v39', 'v4', 'v40', 'v41',
       'v42', 'v43', 'v44', 'v45', 'v46', 'v47', 'v48', 'v49', 'v5', 'v50',
       'v51', 'v52', 'v53', 'v54', 'v55', 'v56', 'v6', 'v7', 'v8', 'v9'],
      dtype='object')

,user_id,has_applied,v1,v10,v11,v12,v13,v14,v15,v16,...,v51,v52,v53,v54,v55,v56,v6,v7,v8,v9
0,U1,1,0.620573,0.018662,0.100803,0.080898,0.420417,0.817681,0.147355,0.446812,...,0.227104,0.811505,0.945988,0.798489,0.148969,0.707921,0.751510,0.349078,0.337132,0.807632
1,U2,1,0.972502,0.870277,0.504887,0.995163,0.179480,0.608719,0.245085,0.851246,...,0.855074,0.683701,0.318416,0.703566,0.400617,0.563469,0.989583,0.073514,0.095885,0.890821
2,U3,1,0.240756,0.546440,0.521399,0.402420,0.640444,NaN,0.184515,0.395058,...,0.614898,0.487564,0.256930,0.653874,0.761972,0.976820,0.264505,0.513135,0.978387,0.620669
3,U4,1,0.004854,0.433188,0.250801,0.242680,0.713586,0.210186,0.977472,0.375024,...,0.407412,0.242282,0.097724,0.191388,0.516972,0.742984,0.232344,0.305115,0.080069,0.297233
4,U5,1,0.835250,0.476812,0.764354,0.449753,0.524924,0.807181,0.294023,0.475043,...,0.605605,0.772735,0.351836,0.932708,0.724384,0.123647,0.091980,0.581444,0.093941,0.612623